a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: $primary-color;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
