a {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

p {
    color: $primary-color;
}

i {
    cursor: pointer;
}

li {
    list-style: none;
}

.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.left {
    float: left;

    img {
        float: left;
    }
}

.right {
    float: right;

    img {
        float: right;
    }
}
