.introduction-signup {
    @include flex-justify(space-between);
    margin: 100px 0;
    padding-top: 75px;
}

.text-signup {
    width: 45%;

    h1 {
        @include color-fontSize-fontWeight($primary-color, 50px, 500);
        line-height: 70px;
        margin-bottom: 30px;
    }

    & > p {
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 40px;
    }
}

.btn-google-slack {
    @include flex-align(center);
    margin-bottom: 20px;

    a {
        @include color-fontSize(white, 14px);
    }

    p {
        @include color-fontSize($third-color, 13px);
        padding: 0 15px;
    }

    span {
        padding-left: 5px;
    }
}

.intro-signup {
    @include flex-align(center);
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    border-radius: 7px;
    background-color: $secondary-color;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: $hover-color;
    }
}

.use-email {
    @include color-fontSize($primary-color, 14px);
    margin-bottom: 15px;

    &:hover {
        color: $secondary-color;
    }
}

.introduction-image img {
    width: 570px;
}
