@media screen and (max-width: 1200px) {

    .introduction-signup {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-signup {
        @include contentAndTextCenter;
    }

    .introduction-image img {
        width: 100%;
        max-width: 570px;
    }

    [class^="reason-"] {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {

    .container-full-width {
        border-bottom: 1px solid $third-color;

        .container {
            width: 95%;
        }
    }

    header {
        border-bottom: none;

        .fa-bars {
            display: block;
        }
    }

    .navbar-signup {
        display: none;
    }

    .text-signup > p {
        font-size: 18px;
    }

    .btn-google-slack {
        display: block;
        width: 100%;

        p {
            padding: 15px 0;
        }

        a {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 769px) {

    .row-images {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 860px;
    }
}
