@media screen and (max-width: 1200px) {
    .introduction-signup {
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;

        .text-signup {
            width: 100%;
            max-width: 628px;
            display: flex;
            flex-direction: column;
            align-items: center;
            vertical-align: middle;
            text-align: center;
        }

        .introduction-image img {
            width: 100%;
            max-width: 570px;
        }
    }
}

@media screen and (min-width: 768px) {
    .row-images {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 860px;
    }
}
