@media screen and (max-width: 1200px) {

    /* media query PRIMA SEZIONE INTRODUTTIVA */
    .introduction-signup {
        @include flex-align-column(center);
    }

    .text-signup {
        width: 100%;
        max-width: 628px;
        @include flex-align-column-textCenter(center);
    }

    .introduction-image img {
        width: 100%;
        max-width: 570px;
    }

    /* media query TERZA SEZIONE why-teambit-better */
    [class^="reason-"] {
        @include flex-align-column-textCenter(center);
    }

    .reason-2, .reason-4 {  /* per vedere sempre prima del testo l'immagine */
        flex-direction: column-reverse;
    }

    .content-text-reason {
        width: 100%;
        max-width: 628px;

        p {
            font-size: 18px;
            line-height: 25px;
        }

        span {
            font-size: 18px;
        }
    }

    .img-reason, .text-reason {
        width: auto;
    }

    .img-reason img {
        width: 100%;
        height: auto;
        max-width: 3000px;
    }

    .text-reason {
        padding: 0;
    }
}

@media screen and (max-width: 992px) {

    /* media query footer */
    footer.container {
        width: 100%;
    }

    .footer-content {
        flex-direction: column;
    }

    .text-img-footer {
        width: 100%;
    }

    .links {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 25px;
    }

    [class^="links-column"] {
        width: 45%;
        margin: 25px 5% 0 0;
    }
}

@media screen and (max-width: 768px) {

    /* media query header */
    .container-full-width {
        @include border-1px-solid(border-bottom, $third-color);

        .container {
            width: 95%;
        }
    }

    header {
        border-bottom: none;

        .fa-bars {
            display: block;
        }
    }

    /* media query prima sezione introduttiva */
    .navbar-signup {
        display: none;
    }

    .text-signup > p {
        font-size: 18px;
    }

    .btn-google-slack {
        flex-direction: column;
        width: 100%;

        p {
            padding: 15px 0;
        }

        a {
            width: 100%;
            @include flex-justify(center);
        }
    }

    /* media query seconda sezione */
    .row-images {
        display: block;
    }
}

@media screen and (max-width: 576px) {

    /* media query quarta sezione recensione teambit */
    .btn-section4 {
        flex-direction: column;
        width: 100%;

        p {
            padding: 15px 0;
        }

        a {
            width: 100%;
            @include flex-justify(center);
        }
    }
}

@media screen and (max-width: 379px) {

    /* media query footer */
    [class^="links-column"] {
        width: 100%;
        margin-top: 25px;
    }
}
