.traditional-and-teambit-solution {
    background-color: $background-color;
}

.traditional-solution {
    @include border-1px-solid(border-bottom, gray);
}

.traditional-solution, .teambit-solution {
    padding: 100px 0;
    @include flex-align-column-textCenter(center);
}

.traditional-solution, .teambit-solution {

    h2 {
        @include color-fontSize-fontWeight($primary-color, 26px, 500);
        max-width: 630px;
    }

    & > img {
        width: 280px;
        padding-top: 75px;
    }
}

[class^="tradition-section"], [class^="teambit-section"] {
    @include flex-align-column(center);
    padding-top: 75px;

    img {
        width: auto;
        height: 105px;
    }

    p {
        font-size: 18px;
        padding-top: 30px;
        line-height: 30px;
    }
}

.teambit-solution {
    span {
        @include color-fontSize-fontWeight($primary-color, 26px, 500);
        padding-top: 100px;
    }
}
