$primary-color: #58402C;
$secondary-color: #30488F;
$third-color: #BDB5AF;
$fourth-color: #737376;
$fifth-color: #2E4691;
$background-color: #ffe7d2;
$border-color: #e1ddd4;
$hover-color: #233569;
