.why-teambit-better {
    padding: 80px 25px 0 25px;
}

[class^="reason-"] {
    display: flex;
    padding-bottom: 100px;
}

.img-reason, .text-reason {
    width: 50vw;
}

.img-reason img {
    width: 100%;
    height: auto;
    max-width: 768px;
    padding-bottom: 20px;   /* serve per il responsive per dare spazio */
}

.text-reason {
    padding-left: 10px;

    h3 {
        @include color-fontSize-fontWeight($primary-color, 26px, 500);
        line-height: 40px;
        margin-bottom: 15px;
    }

    p {
        font-size: 22px;
        line-height: 35px;
        margin-bottom: 35px;
    }

    a {
        display: block;
        margin-bottom: 45px;
    }

    span {
        @include color-fontSize($secondary-color, 22px);
    }

    i {
        @include color-fontSize($secondary-color, 18px);
    }
}

.content-text-reason {
    width: 420px;
}

.img-text {
    @include flex-justify(center);

    img {
        width: 270px;
        height: auto;
    }
}
